<%= form_with model: [@article, @article.comments.build], id: 'comment_form', remote: true do |f| %>
  <div class="form-group mb-4">
    <%= f.text_field :body, placeholder: 'What do you think ?', class: 'quill_container', required: true %>
  </div>
  <div class="form-group">
    <%= f.submit "Leave Comment", class: 'btn btn-dark btn-sm' %>
  </div>
<% end %>