<h2>Showing selected article</h1>
<p>Article Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<p>Time created: <%= @article.created_at %></p>
<button><%= link_to 'Edit', edit_article_path %></button> <br/>