<div class="modal-content login-form">
<form id="login-form">
<div>
<small class="text-danger" id="login-error-message"> </small>
<input name="email" type="email" placeholder="Email" required />
</div>
<div>
<input name="password" type="password" placeholder="Password"  required />
</div>
<div>
  <button type="submit"> Login </button>
</div>

<p class="text-center">Don't have an account ? <a href="javascript:void(0)" class="signup-modal-trigger"> Signup </a></p>
</form>
</div>