<div class="modal-content login-form">
<form id="login-form">
<div>
<input name="email" type="email" placeholder="Email" required />
  <small class="error-message text-danger"> </small>
</div>
<div>
<input name="password" type="password" placeholder="Password"  required />
  <small class="error-message text-danger"> </small>
</div>
<div>
  <button type="submit"> Login </button>
</div>

<p class="text-center">Don't have an account ? <a href="javascript:void(0)" class="signup-modal-trigger"> Signup </a></p>
</form>
</div>