<div class="modal-content signup-form">
  <form id="signup-form">
    <div>
      <input name="email" type="email" placeholder="Email" required />
      <small class="error-message text-danger"> </small>
    </div>
    <div>
      <input name="username" type="text" placeholder="Username" required />
      <small class="error-message text-danger"> </small>
    </div>
    <div>
      <input name="password" type="password" placeholder="Password"  required />
      <small class="error-message text-danger"> </small>
    </div>
    <div>
      <button type="submit"> Sign up </button>
    </div>
    <p class="text-center">Already have an account ? <a href="javascript:void(0)" class="login-modal-trigger"> Login </a></p>
  </form>
</div>
