<%# <%= link_to 'All articles', articles_path %>
<%# <%= link_to "About", about_path %>
<div class="jumbotron site-banner row">
<div class="banner-text col-3">All the buzz, all the gist</div>
<div class="col-3 sign-up-button">
<span>Get started</span>
</div>
</div>