.site-banner {
  margin-top: 10px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    asset-url('Blogging.png') no-repeat 0% 70%;
  color: white;
  justify-content: space-between;
  height: 500px;
  background-size: 100%;
  padding: 20px;
}

.site-banner .banner-text {
  font: 64px 'Great Vibes';
  margin: 70px;
}

.site-banner .sign-up-button {
  margin-top: 15%;
  margin-right: 40px;
  font-size: 30px;
}

.sign-up-button span {
  border: 1px solid white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.sign-up-button span:hover {
  color: black;
  background: white;
  border: none;
}

.modal {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  overflow: auto;
  display: none;
}

.modal-content {
  display: none;
}

.login-form,
.signup-form {
  width: 30%;
  margin: 15% auto;
  background: white;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}

.login-form div,
.signup-form div {
  width: 80%;
  margin: 20px auto;
}

.login-form input,
.signup-form input,
.login-form button,
.signup-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border-width: 0 0 1px 0;
  border-color: black;
  outline: none;
}

.login-form button,
.signup-form button {
  color: white;
  background: black;
  border-color: black;
  border-radius: 10px;
}

.articles-section {
  margin: 70px 0 70px 0;
}

.articles-section a {
  text-decoration: none;
  color: #585858;
}

.articles-section a:hover {
  color: black;
}

.top-article .article-img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.top-article .article-card-title {
  font-size: 25px;
  font-weight: bolder;
}

.featured-articles {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: baseline;
}

.featured-articles a:hover {
  text-decoration: underline;
}

.popular-articles a:hover {
  text-decoration: underline;
}

.articles-section .user-details {
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
}

.featured-articles .article-img {
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.featured-articles .article-card {
  width: 30%;
  margin: 10px;
  margin-bottom: 40px;
}

.featured-articles .article-card-title {
  font-size: 18px;
  font-weight: bolder;
}

.featured-articles .article-card-body {
  font-size: 14px;
  // max-height: 100px;
  line-height: 20px !important;
  overflow: hidden;
}

.article-page .extra-details,
.featured-articles .extra-details {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.article-page .extra-info,
.featured-articles .extra-info {
  display: flex;
  flex-direction: column;
}

.article-page .extra-details {
  font-size: 15px;
}

.top-article img {
}
