.nav-container {
  width: 78%;
  margin: auto;
}
.header {
  height: 60px;
  background: #000000;
  color: white;
  box-shadow: 3px 3px 7px #888888;
  z-index: 1000;
  width: 100%;
  vertical-align: middle;
}

.header a {
  color: white;
  text-decoration: none;
}

.header .site-title {
  font-size: 28px;
  font-weight: bold;
}

.text-primary {
  color: #0080ff !important;
}

.btn-primary {
  background: #0080ff !important;
}

.search-container {
  float: right;
}

.search-container input {
  padding: 3px 10px 3px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 32px;
}

.search-container button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 32px;
}

.header span .dropdown-toggle::after {
  content: none;
}

.header .dropdown-toggle {
  float: right;
}

.login-modal-trigger .dropdown-menu.show {
  left: -80px !important;
}
.dropdown-menu a {
  color: black;
  text-align: center;
}


// header .site-title {
//   font-size: 24px;
// }
