// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a:hover {
    text-decoration: unset;
  }
}

.profile-page .profile-img {
  margin: auto !important;
  height: 210px;
  width: 210px;
}

.profile-page .nav {
  justify-content: flex-start;
  margin: auto;
}

.nav-tabs {
  padding-top: 20px;
  border-width: 0px 0px 1px 0px;
  border-color: #d8d8d8;
  color: gray;
}

#my-articles {
  max-height: 75vh;
  overflow: auto;
}

.nav-tabs a {
  color: unset;
}

.nav-link.active {
  border-color: black !important;
  border-width: 0px 0px 2px 0px;
}

// .nav-tabs .active,
// .nav-tabs a:hover {
//   background-color: white;
// }

.tab-item {
  display: none;
}

.user-info {
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  line-height: 32px;
  margin-bottom: 10px;
}

.follow-btn {
  font-weight: bold !important;
  border-radius: 10px !important;
}

label {
  cursor: pointer;
}

.profile-page input[type='file'] {
  display: none;
}

.update-buttons {
  display: none;
}

.edit-input {
  display: none;
}

.following {
  background: black;
  color: white !important;
}

.following.text-dark:hover,
.following.text-dark:focus {
  color: white !important;
}

#profile-details input,
#profile-details textarea {
  border: none;
  padding: 10px;
  outline: none;
  color: gray;
}

.user-article-cards {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  margin-bottom: 15px;
  box-shadow: 2px 5px 5px -2px #d8d8d8;
  display: flex;
  flex-direction: row;
  // height: 300px;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;

  .article-img {
    width: 35%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .article-content {
    width: 62%;
  }
}

.user-article-cards:hover .user-article-buttons {
  display: unset;
}

::-webkit-scrollbar {
  display: none;
}

.user-article-cards a {
  color: black;
}

.user-article-cards .user-article-title {
  font-weight: bolder;
}

.user-article-cards .user-article-body {
  color: #585858;
  font-size: 15px;
}

#profile-details textarea {
  width: 50%;
}

#profile-for-current-user .profile-img-container {
  width: 22%;
}
#profile-for-current-user .user-info-container {
  width: 78%;
}

.profile-img-container {
  max-width: 30%;
  font-size: 14px;
}

.user-info-container {
  min-width: 70%;
  width: 75%;
}

.profile-img-user-card {
  width: 70px;
  height: 70px;
}

.user-article-buttons{
  display: none;
  font-size: 15px;
  a {
    color: rgba($color: #000000, $alpha: 0.7) !important;
  }
  
  
  .fa-edit:hover {
    color: black !important;
    box-shadow: 1px 1px 3px #d8d8d8;
  }

  .fa-trash:hover {
    color: red !important;
  }
} 

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  margin-bottom: 15px;
  box-shadow: 2px 5px 5px -2px #d8d8d8;
  align-items: center;
}

.user-card .user-detail {
  display: flex;
  flex-direction: column;
}

.profile-details-cont {
  display: flex;
  flex-direction: row;
}
// .nav-tabs li {
//   width: 32%;
//   text-align: center;
//   padding: 20px;
// }
