// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
	margin: 30px 0 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media (max-width: 768px) {
		flex-direction: column;
		font-size: 13px;
	}
}

.profile-page .profile-img {
	margin: auto !important;
	height: 210px;
	width: 210px;
	@media (max-width: 768px) {
		height: 150px;
		width: 150px;
	}
}

.profile-page .nav {
	justify-content: flex-start;
	margin: auto;

	@media (max-width: 768px) {
		justify-content: space-around;
		a {
			font-size: 14px;
		}
	}
}

.nav-tabs {
	padding-top: 20px;
	border-width: 0px 0px 1px 0px;
	border-color: #d8d8d8;
	color: gray;

	@media (max-width: 768px) {
		display: flex;
		flex-wrap: nowrap;
	}
}

#my-articles {
	max-height: 75vh;
	overflow: auto;
}

.nav-tabs .nav-link {
	color: unset;

	@media (max-width: 768px) {
		padding: 0.1rem;
	}
}

.nav-link.active {
	border-color: black !important;
	border-width: 0px 0px 2px 0px;
}

// .nav-tabs .active,
// .nav-tabs a:hover {
//   background-color: white;
// }

.tab-item {
	display: none;
}

.user-info {
	padding: 10px;
	border: 1px solid #d8d8d8;
	border-radius: 10px;
	line-height: 32px;
	margin-bottom: 10px;
}

.follow-btn {
	font-weight: bold !important;
	border-radius: 10px !important;
}

label {
	cursor: pointer;
}

.profile-page input[type='file'] {
	display: none;
}

.update-buttons {
	display: none;
}

.edit-input {
	display: none;
}

.following {
	background: black;
	color: white !important;
}

.following.text-dark:hover,
.following.text-dark:focus {
	color: white !important;
}

#profile-details input,
#profile-details textarea {
	border: none;
	padding: 10px;
	outline: none;
	color: gray;
}

.user-article-cards {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #d8d8d8;
	margin-bottom: 15px;
	box-shadow: 2px 5px 5px -2px #d8d8d8;
	display: flex;
	flex-direction: row;
	max-height: 180px;
	// height: 300px;
	overflow: hidden;
	flex-wrap: nowrap;
	justify-content: space-between;

	@media (max-width: 768px) {
		max-height: 150px;
	}

	.user-article-title h5 {
		font-weight: bolder;
		font-size: 18px;
	}

	.user-article-body {
		color: #585858;
		font-size: 15px;

		@media (max-width: 768px) {
			font-size: 90%;
		}
	}

	.article-img {
		width: 35%;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.article-content {
		width: 62%;
	}
}

// .recommended-articles {
//   margin-top: 60px;
//   .user-article-cards {
//     max-height: 170px;
//     @media (max-width: 768px) {
//       max-height: 130px;
//     }
//     margin-bottom: 10px;
//     * {
//       margin-right: 0;
//     }

//     box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.15);
//     flex-direction: row-reverse;
//     justify-content: space-between;
//   }
// }

.user-article-cards:hover .user-article-buttons {
	display: unset;
}

::-webkit-scrollbar {
	display: none;
}

.user-article-cards a {
	color: black;
}

#profile-details textarea {
	width: 50%;
}

#profile-for-current-user .profile-img-container {
	width: 22%;
}
#profile-for-current-user .user-info-container {
	width: 78%;
}

.profile-img-container {
	max-width: 30%;
	font-size: 14px;

	@media (max-width: 768px) {
		width: 100% !important;
		max-width: unset;
		text-align: center;
		font-size: 12px;
		margin-bottom: 15px;
	}
}

.user-info-container {
	min-width: 70%;
	width: 75%;

	@media (max-width: 768px) {
		width: 100% !important;
	}
}

.profile-img-user-card {
	width: 70px;
	height: 70px;
}

.user-article-buttons {
	display: none;
	font-size: 15px;
	a {
		color: rgba($color: #000000, $alpha: 0.7) !important;
	}

	@media (max-width: 768px) {
		font-size: 12px;
	}

	.fa-edit:hover {
		color: black !important;
		box-shadow: 1px 1px 3px #d8d8d8;
	}

	.fa-trash:hover {
		color: red !important;
	}
}

.user-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
	border: 1px solid #d8d8d8;
	margin-bottom: 15px;
	box-shadow: 2px 5px 5px -2px #d8d8d8;
  align-items: center;
  
  @media (max-width: 768px) {
	padding: 10px !important;
	}
}

.user-card .user-detail {
	display: flex;
	flex-direction: column;
}

.profile-details-cont {
	display: flex;
	flex-direction: row;
}
// .nav-tabs li {
//   width: 32%;
//   text-align: center;
//   padding: 20px;
// }
