<div class="site-banner row">
  <div class="banner col-5">
    <div class="typing-img">
      <%= image_tag 'pngguru.com-id-bbckh.png' %>
    </div>
  </div>
  <div class="col-5 sign-up-notice">
    <h2 class="notice-text mb-4">Why wait longer? Join in the conversations now!</h2>
    <div class="sign-up-button">
      <button class="signup-modal-trigger">Get started</button>
    </div>
  </div>
</div>
