<footer>
<div class="footer-container"> 
<div class="row align-items-center" >
<div class="col-4">
<ul>
<li> Contact us</li>
<li>+2348140064376</li>
<li>ezenwaogbonna1@gmail.com</li>
<li>ezenwa.andela.@gmail.com</li>
</ul>
</div>
<div class="col-4">
<%= link_to 'About', about_path %>
</div>
<div class="col-4">
<span>Copyright &copy; 2019</span>
</div>
</div>
</div>
 </footer> 